site_name: ISDN 2602 Final Project Documentation
theme:
    palette:
      primary: indigo
      accent: blue
    name: material
    custom_dir: overrides
    features:
      - content.code.copy
      - content.tabs.link
      - content.code.annotate
    icon:
        logo: material/car-connected
        favicon: material/car-connected

markdown_extensions:
    - pymdownx.pathconverter:
          base_path: "/TeachingTeamUserManual"
          relative_path: ""
          absolute: true
          tags: "a script link object embed"
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - tables
    - def_list
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.arithmatex:
          generic: true
    - attr_list
    - md_in_html
    - pymdownx.blocks.caption
    - admonition
    - pymdownx.details
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.tabbed:
          alternate_style: true

extra_javascript:
    - javascripts/mathjax.js
    - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra:
  generator: false
  giscus:
    enabled: true